<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Migration Tests">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="CLI Tests">
            <directory>tests/CLI</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">packages/core/src</directory>
        </include>
        <exclude>
            <directory>packages/core/src/db/types</directory>
        </exclude>
    </coverage>
</phpunit>

